@charset "utf-8";

.loguin-bg {
    max-width: 100%;
    height: 450px;
    margin: auto auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
.loguin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 150px;

    height: 400px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .3);
}
.loguin-dados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.loguin-dados div {
    display: flex;
    margin: 10px;
    align-items: center;
}
.loguin-dados label {
    padding: 20px;
    width: 100px;
    font-size: 1.82em;
}
.loguin-dados input {
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.loguin button {
    width: 100px;
    height: 50px;
    border:none;
    margin: 20px;
    border-radius: 10px;
    transition: 0.3s;
}
.loguin button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}



