@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Teko:wght@300;400;700&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #048A81;
    font-family: 'Teko', sans-serif;
    color:#E6EFEF;

}
ul {
    list-style: none;
}
a{
    text-decoration: none ;
    color:#E6EFEF;
}


/*Formatação da logo*/
.menu-bg {
    background-color:#048A81;
    box-shadow: 0px 1px 2px white;
}

.menu {
    display: flex;
    max-width: 1086px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 10px;
}

.menu-logo {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    
    font-size: 2em;
    color:#E6EFEF;
}
.menu-logo img {
    width: 100px;
    height: 100px;
}

/*Formatação do Menu*/
.nav-bg {
    max-width: 500px;
    display: flex;
    flex:1 1 170px;
    font-size: 1.80em;
}

.nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex: 1;
}
.nav-bg a {
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}
.nav-bg a:hover {
    background:rgba(255,255,255,0.5);
}

.nav ul {
    display: flex;
    flex-direction: row;
}
.nav li {
    padding:20px;
}

/*Formatação Modal Mobile*/
#modal-mobile {
    position: absolute;
    left:0;
    top:0;
    background-color: rgba(0, 0, 0, 0.7);
    width:100vw;
    height: 100%;
    padding-top:30px;
    flex-direction: column;
    align-items: center;
}
#modal-mobile h1 {
    font-size: 3em;
}
#modal-mobile ul {
    margin-top: 100%;
}
#modal-mobile ul li {
    font-size: 2em;
    margin-top: 20px;
}
#modal-mobile a {
    padding: 10px;
}

.bt-modal-menu {
    display: none;
}
.bt-modal-close {
    position: absolute;
    width: 80px;
    top:20px;
    right: 5px;
}




@media (max-width: 755px)
{   
    .bt-modal-menu {
        display: block;
        width: 65px;
        height: 65px;
    }
    .nav-bg {
        justify-content: flex-end;
        align-items: center;
        padding: 10px;
    }
    .nav {
        display: none;
    }
}






